
@media(max-width: 477px){
    .overview-div{
        width: 350px;
        height: 300px;
    }
    
}
@media(max-width: 1000px) {
    .chart-overview-container {
        width: 100% !important;
        
    }
}