<div class="chart-container">
  <p class="fw-semibold">Employees from various States</p>
  <div
    *ngFor="let data of overviewValues"
    class="data-container"
  >
    <p>
      <span [ngStyle]="{ 'background-color': data['color']}" class="p-2">&nbsp;</span
      >
      Employees from {{ data["name"] }} = {{ data["value"] }}
    </p>

    <p
      *ngIf="!isNan(((data['value'] / total) * 100).toFixed(1)); else elseBlock"
    >
      {{ ((data["value"] / total) * 100).toFixed(1) }}%
    </p>

    <ng-template #elseBlock>
      <p>0%</p>
    </ng-template>
  </div>
</div>
