

.card {
    height: min-content;
    /* margin-left: 2em;
    margin-right: 2em; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin: 0 !important; */
    width: 19rem;
    /* margin-bottom: 10px; */
    box-shadow: 5px 5px 10px whitesmoke;
    
}
.dot {
    position: absolute;
    font-size: larger;
    left: 0;
    /* top: 3px; */
}
.desc {
    /* width: 18em; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lead {
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
    
}