<div class="cardContainer">

<div class="card mx-4 px-2 hidden ps-3">
  <div class="card-body" style="position: relative;">
    <span class="dot">
      <i class="bi bi-dot"></i>
    </span>
    <h5 class="card-title">
      {{dataType}} {{buyingType || manufacturerName}}
    </h5>
    <p class="card-text my-1">Unilever</p>
    <samp class="fs-5">
      170.0
      <span class="fs-6">
        <i class="bi bi-arrow-down"></i>
      </span>
      <samp class="lead text-danger">-24.10 pt</samp>
    </samp>
    <p class="lead">
      <strong>Unilever</strong> with the <strong>Income $10000+</strong>
    </p>
    <p class="lead desc">
      demographic indexes the {{dataType}} in the current period
  </p>
  </div>
</div>
</div>
