
    <app-hero-section (ChangeIncome)="changeIncome($event)" (buyingType)="changeBuying($event)" (manufacturer)="changeManufacturer($event)" ></app-hero-section>
    
    

    <!-- Cards goes here -->
    <div class="d-flex">

        <app-card-component [buyingType]="selectedBuying" *ngFor="let item of cards" [dataType]="item"></app-card-component>
        <app-card-component [manufacturerName]="selectedManufacturer" *ngFor="let item of cards" [dataType]="item"></app-card-component>
    </div>

    <!-- <app-bar-chart></app-bar-chart> -->

    <!-- <button class="btn btn-success" (click)="change()">Change Data</button> -->




    <app-stack-chart [data]="Data"></app-stack-chart>
